<div class="col-lg-1 col-md-1 col-sm-3 col-xs-3 bhoechie-tab-menu">
    <div class="list-group">
        <a href="/student/" class="list-group-item text-center">
            <h3 class="glyphicon glyphicon-dashboard"></h3><br/><b>Dashboard</b>
        </a>
        <a href="/student/transcript" class="list-group-item text-center">
            <h3 class="glyphicon glyphicon-user"></h3><br/><b>View Student record</b>
        </a>
        <a href="/student/profile" class="list-group-item text-center">
            <h3 class="glyphicon glyphicon-user"></h3><br/><b>Profile</b>
        </a>
        <a href="/" class="list-group-item text-center">
            <h3 class="glyphicon glyphicon-off" style="color: red"></h3><br/><b>Logout</b>
        </a>
    </div>
</div>